@charset "UTF-8";
body {
  color: #fff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
li,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style-type: none;
}

section {
  padding: 60px 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #fff;
}

@font-face {
  font-family: roboto-regular;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: roboto-medium;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: roboto-bold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}

#bannerhero {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0;
}

@media (max-width: 768px) {
  #bannerhero {
    height: 40vh;
  }
}

@media (max-width: 576px) {
  #bannerhero {
    height: 30vh;
  }
}

#bannerhero video {
  position: absolute;
  z-index: 1;
  width: 100%;
}

#bannerhero img {
  position: absolute;
  width: 100%;
}

#bannerhero::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.466);
  z-index: 1;
}

#bannerhero .content {
  position: relative;
  z-index: 10;
  color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 180px;
}

@media (max-width: 576px) {
  #bannerhero .content {
    margin-top: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#bannerhero .content h2 {
  font-size: 30px;
  font-family: roboto-medium;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #bannerhero .content h2 {
    font-size: 30px;
  }
}

#bannerhero .content p {
  text-align: center;
  width: 40%;
  font-size: 17px;
  font-family: roboto-regular;
}

@media (max-width: 1200px) {
  #bannerhero .content p {
    width: 60%;
  }
}

@media (max-width: 768px) {
  #bannerhero .content p {
    font-size: 12px;
    width: 70%;
  }
}

#bannerhero h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 2;
  bottom: 50px;
  width: 100%;
  color: #fff;
  font-family: roboto-bold;
}

.header-text {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 34px;
  background-color: #2a2a2a;
  z-index: 50;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 576px) {
  .header-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header-text .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-text .cap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-text .cap p {
  font: normal 13px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  padding-left: 8px;
}

.header-text .right .social-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 576px) {
  .header-text .right .social-medias {
    display: none;
  }
}

.header-text .right .social-medias a {
  border: solid 1px #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-text .right .social-medias a + a {
  margin-left: 6px;
}

.header-text .right .social-medias a i {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-text .right .social-medias a:hover {
  background-color: #fff;
}

.header-text .right .social-medias a:hover i {
  color: #000000;
}

#header {
  position: fixed;
  top: 34px;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 20px 50px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  #header nav {
    position: fixed;
    right: -100%;
    bottom: 0;
    top: 0;
    background: #fff;
    z-index: 99;
    width: 340px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

@media (max-width: 992px) and (max-width: 576px) {
  #header nav {
    width: 100%;
  }
}

@media (max-width: 992px) {
  #header nav .navbar {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
  }
  #header nav .navbar .closenav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-top: 4px;
    margin-bottom: 20px;
  }
  #header nav .navbar .closenav i {
    background-color: #d8b66d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 34px;
  }
  #header nav .navbar .closenav .close-btn {
    margin-right: 20px;
  }
  #header nav .navbar li {
    width: 100%;
  }
  #header nav .navbar .nav-link {
    color: #444;
    padding: 14px 0;
    width: 100%;
    margin-left: 30px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.349);
  }
  #header nav .navbar .nav-link.active {
    color: #d8b66d;
  }
}

@media (max-width: 768px) {
  #header {
    padding: 20px;
  }
}

#header .nav-button {
  background-color: #2a2a2a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  padding: 4px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header .nav-button span {
  font-family: "Roboto";
  font-size: 18px;
  margin-right: 10px;
}

#header .nav-button i {
  font-size: 30px;
}

#header .logo {
  width: 160px;
}

#header .logo img {
  max-height: 90px;
}

#header .logo .lwhite {
  display: block;
}

#header .logo .lblack {
  display: none;
}

@media (max-width: 768px) {
  #header .logo {
    width: 120px;
  }
}

#header nav .nav-link {
  position: relative;
  font: normal 900 15px / 19px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.85);
}

#header nav .nav-link:hover {
  color: #444;
}

#header nav .nav-link:not(.not)::after {
  content: "";
  position: absolute;
  right: 0;
  width: 0.8px;
  top: 36%;
  bottom: 36%;
  background-color: #fff;
}

#header nav .nav-link.active {
  color: white;
}

#header nav .nav-link.active:hover {
  color: #444;
}

#header:hover {
  background-color: #fff;
}

#header:hover .nav-link {
  color: #4444;
}

#header:hover .nav-link.active {
  color: #444;
}

#header:hover .nav-link:not(.not)::after {
  content: "";
  background-color: #000000;
}

#header:hover .lwhite {
  display: none;
}

#header:hover .lblack {
  display: block;
}

#header.scrolled {
  top: 0;
  background-color: #fff;
}

#header.scrolled .nav-link {
  color: #4444;
}

#header.scrolled .nav-link.active {
  color: #444;
}

#header.scrolled .nav-link:not(.not)::after {
  content: "";
  background-color: #000000;
}

#header.scrolled .lwhite {
  display: none;
}

#header.scrolled .lblack {
  display: block;
}

/*
 İndex.html css Kodları
*/
#hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0;
}

#hero video {
  position: absolute;
  z-index: 1;
  width: 100%;
}

#hero::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.466);
  z-index: 1;
}

#hero .content {
  position: relative;
  z-index: 10;
  color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#hero .content h1 {
  font-size: 44px;
  font-family: roboto-medium;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  #hero .content h1 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  #hero .content h1 {
    font-size: 26px;
    display: none;
  }
}

#hero .content p {
  text-align: center;
  width: 40%;
  font-size: 17px;
  font-family: roboto-regular;
}

@media (max-width: 1200px) {
  #hero .content p {
    width: 60%;
  }
}

@media (max-width: 992px) {
  #hero .content p {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  #hero .content p {
    font-size: 12px;
    width: 70%;
    display: none;
  }
}

#hero h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 2;
  bottom: 50px;
  width: 100%;
  color: #fff;
  font-family: roboto-bold;
}

@media (max-width: 992px) {
  #hero h4 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  #hero h4 {
    display: none;
  }
}

@media (max-width: 992px) {
  #hero {
    height: 60vh;
  }
}

@media (max-width: 1200px) {
  #hero {
    height: 70vh;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 40vh;
  }
}

@media (max-width: 576px) {
  #hero {
    height: 30vh;
  }
}

#herobottom {
  background-color: #2a2a2a;
  padding: 30px 0;
}

#herobottom .mCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  border-radius: 8px;
  border: solid 1px #7c7c7c;
  min-height: 96px;
}

#herobottom .mCard i {
  padding-right: 20px;
  font-size: 22px;
}

#herobottom .mCard h5 {
  margin: 0;
  display: block;
  font-size: 18px;
  line-height: 1.2em;
  font-family: roboto-medium;
}

#herobottom .mCard p {
  font-size: 16px;
  margin: 0;
  font-family: roboto-regular;
}

#herobottom .mCard p.smal {
  font-size: 14px;
}

#rooms {
  background-color: #f2f2f2;
}

#rooms .title {
  font-family: roboto-medium;
  font-weight: 500;
  color: #2a2a2a;
  margin-bottom: 25px;
  font-size: 24px;
  border: solid #2a2a2a 2px;
  display: inline-block;
  padding: 3px 15px;
}

#rooms .roomSwiper .mCard {
  background-color: #fff;
}

#rooms .roomSwiper .mCard .card-head {
  overflow: hidden;
}

#rooms .roomSwiper .mCard .card-head img {
  width: 100%;
  -webkit-transition: 5s;
  transition: 5s;
}

#rooms .roomSwiper .mCard .card-head:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#rooms .roomSwiper .mCard .content {
  padding: 1rem;
  text-align: center;
}

#rooms .roomSwiper .mCard .content h4 {
  color: black;
  margin-bottom: 10px;
}

#rooms .roomSwiper .mCard .content p {
  color: #85868c;
  margin-bottom: 30px;
}

#rooms .roomSwiper .mCard .content a {
  position: relative;
  padding-bottom: 4px;
}

#rooms .roomSwiper .mCard .content a::after {
  content: "";
  background-color: #d8b66d;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#rooms .roomSwiper .mCard .content a:hover::after {
  width: 100%;
}

#rooms .roomSwiper .mCard .content h5 {
  font-size: 14px;
  line-height: 17px;
  color: #333333;
  font-family: roboto-medium;
}

#rooms .roomSwiper .mCard .content i {
  color: black;
  font-size: 18px;
  padding-top: 2px;
  padding-left: 4px;
}

#maps {
  padding: 0;
  background-color: #f2f2f2;
}

#maps .title {
  font-family: roboto-medium;
  font-weight: 500;
  color: #2a2a2a;
  margin-bottom: 25px;
  font-size: 24px;
  border: solid #2a2a2a 2px;
  display: inline-block;
  padding: 3px 15px;
}

#diff .title {
  font-family: roboto-medium;
  font-weight: 500;
  color: #2a2a2a;
  margin-bottom: 25px;
  font-size: 24px;
  border: solid #2a2a2a 2px;
  display: inline-block;
  padding: 3px 15px;
}

#diff .mCard {
  position: relative;
}

#diff .mCard::after {
  content: "";
  background-color: rgba(42, 42, 42, 0.582);
  top: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  left: 0;
}

#diff .mCard img {
  height: 400px;
  width: 100%;
}

#diff .mCard .content {
  margin: 20px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: solid rgba(255, 255, 255, 0) 1px;
}

#diff .mCard .content:hover {
  border: solid white 1px;
}

#diff .mCard .content:hover h4 {
  padding-top: 30px;
}

#diff .mCard .content:hover p {
  padding-top: 20px;
  opacity: 1;
}

#diff .mCard .content:hover h3 {
  opacity: 1;
}

#diff .mCard .content p {
  padding-top: 70px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
}

#diff .mCard .content h4 {
  font-family: roboto-regular;
  padding-top: 10px;
  font-size: 28px;
  line-height: 1.5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#diff .mCard .content h3 {
  font-size: 18px;
  font-family: roboto-regular;
  position: absolute;
  bottom: 34px;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/*
 Room.html css Kodları
*/
/*
 restourant.html css Kodları
*/
#restourantdesc {
  background-color: #f2f2f2;
  padding: 0;
}

@media (max-width: 992px) {
  #restourantdesc .blok {
    height: 300px;
  }
}

#restourantdesc .tcontent {
  padding: 50px 100px 20px 100px;
  color: #85868c;
}

@media (max-width: 768px) {
  #restourantdesc .tcontent {
    padding: 20px;
    text-align: center;
  }
}

#restourantdesc .tcontent h3 {
  font-family: "Roboto";
  font-weight: 500;
  color: #2a2a2a;
  margin-bottom: 10px;
  font-size: 22px;
  border: 2px solid #2a2a2a;
  display: inline-block;
  padding: 3px 15px !important;
}

#restourantdesc .tcontent p {
  margin-bottom: 20px;
}

#restourantdesc .kapsul {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#restourantdesc .restourantSwiper {
  margin: 10px 4px;
}

#restourantdesc .restourantSwiper .images {
  position: relative;
  overflow: hidden;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#restourantdesc .restourantSwiper .images img {
  min-height: 160px;
}

#restourantdesc .restourantSwiper .images::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.555);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#restourantdesc .restourantSwiper .images:hover::after {
  opacity: 0;
  visibility: hidden;
}

/*
 iletisim.html css Kodları
*/
#iletisim {
  padding: 0;
}

#iletisim h6 {
  font-family: "Roboto";
  font-weight: 500;
  color: #2a2a2a;
  margin-bottom: 25px;
  border: 2px solid #2a2a2a;
  display: inline-block;
  padding: 3px 15px !important;
  font-size: 22px;
}

#iletisim .bg-gold {
  background-color: #d8b66d;
}

#iletisim .mcard {
  background-color: #d8b66d;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 24px;
}

#iletisim .mcard .incard {
  border: solid #fff 1px;
  padding: 10px 20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#iletisim .mcard .incard i {
  font-size: 28px;
  color: #fff;
}

#iletisim .mcard .incard h4 {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.2em;
  margin-bottom: 10px;
}

#iletisim .mcard .incard p {
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 300;
}

@media (max-width: 992px) {
  #iletisim .mcard .incard p {
    font-size: 16px;
  }
}

#iletisim form {
  padding: 35px;
}

#iletisim form h4 {
  font-family: "Roboto";
  font-weight: 500;
  color: #2a2a2a;
  margin-bottom: 25px;
  border: 2px solid #2a2a2a;
  display: inline-block;
  padding: 3px 15px !important;
  font-size: 22px;
}

@media (max-width: 768px) {
  #iletisim form h4 {
    display: block;
    text-align: center;
  }
}

#iletisim form input {
  width: 100%;
  height: 38px;
  padding: 9px 12px;
  font-size: 14px;
  margin-bottom: 1rem;
  border: solid 1px #c6c6c6;
  border-radius: 2px;
}

#iletisim form textarea {
  width: 100%;
  height: 38px;
  padding: 9px 12px;
  font-size: 14px;
  resize: none;
  height: 120px;
  border: solid 1px #c6c6c6;
  margin-bottom: 1rem;
  border-radius: 2px;
}

#iletisim form button {
  color: #fff;
  width: 100%;
  height: 38px;
  border: none;
  border-radius: 2px;
  background-color: #000000;
  font-size: 13px;
  font-family: "Roboto";
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#iletisim form button:active {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

#iletisim .location {
  padding: 40px 60px;
}

/*
 hakkimizda.html css Kodları
*/
#hakkimizda {
  padding: 40px 0;
}

#hakkimizda h3 {
  font-family: "Roboto";
  font-weight: 500;
  color: #2a2a2a;
  margin-bottom: 30px;
  font-size: 22px;
  border: 2px solid #2a2a2a;
  display: inline-block;
  padding: 3px 15px !important;
}

#hakkimizda p {
  font-size: 16px;
  font-family: "Roboto", Helvetica, Arial, Verdana, sans-serif;
  word-spacing: normal;
  font-weight: 300;
  color: #85868c;
  margin-bottom: 20px;
}

#swiper {
  padding: 10px 0;
}

#swiper .restourantSwiper {
  margin: 10px 4px;
}

#swiper .restourantSwiper .images {
  position: relative;
  overflow: hidden;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#swiper .restourantSwiper .images img {
  min-height: 160px;
}

#swiper .restourantSwiper .images::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.555);
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#swiper .restourantSwiper .images:hover::after {
  opacity: 0;
  visibility: hidden;
}

/*
 rooms-detail.html css Kodları
*/
#rooms-img {
  padding: 0;
  padding-top: 60px;
  background-color: #f2f2f2;
}

#rooms-img .roomdetailSwiper .swiper-button-next,
#rooms-img .roomdetailSwiper .swiper-button-prev {
  color: #fff;
}

#rooms-img .roomdetailPagination img {
  border-top: solid 6px #fff;
  cursor: pointer;
}

#rooms-img .roomdetailPagination .swiper-slide-thumb-active img {
  border-top: solid 6px #d8b66d;
}

#rooms-img #detailcarousel .carousel-indicators {
  display: block;
  text-align: center;
  margin: 0;
  margin-top: 5px;
}

#rooms-img #detailcarousel .carousel-indicators button {
  width: 160px;
  height: auto;
  opacity: 1;
  position: relative;
  border-top: 0;
}

@media (max-width: 992px) {
  #rooms-img #detailcarousel .carousel-indicators button {
    width: 140px;
  }
}

#rooms-img #detailcarousel .carousel-indicators button.active::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -5px;
  border-top: solid 6px #d8b66d;
}

#rooms-img .content {
  margin-bottom: 40px;
}

#rooms-img .content h5 {
  font-family: "Roboto";
  font-weight: 500;
  color: #2a2a2a;
  margin-bottom: 15px;
  margin-top: 15px;
  border: 2px solid #2a2a2a;
  display: inline-block;
  padding: 3px 15px !important;
}

#rooms-img .content p {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  word-spacing: 8px;
  color: #85868c;
  margin-bottom: 10px;
}

#rooms-img .slidercard {
  background-color: #d8b66d;
  padding: 20px 10px;
}

#rooms-img .slidercard h3 {
  padding-top: 40px;
  font-size: 22px;
  text-align: center;
  line-height: 27px;
  color: #fff;
}

#rooms-img .slidercard h4 {
  color: #fff;
  margin-top: 30px;
  font-size: 22px;
  text-align: left;
  color: #fff;
  margin-bottom: 10px;
}

#rooms-img .slidercard .otherRoomSwiper .swiper-slide {
  position: relative;
}

#rooms-img .slidercard .otherRoomSwiper .swiper-slide img {
  height: 170px;
  width: 100%;
}

#rooms-img .slidercard .otherRoomSwiper .swiper-slide .mcontent {
  position: relative;
  bottom: 50px;
  background-color: #fff;
  margin: 0 20px;
  padding: 14px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#rooms-img .slidercard .otherRoomSwiper .swiper-slide .mcontent h6 {
  color: #000000;
  font-size: 14px;
  margin-bottom: 6px;
}

#rooms-img .slidercard .otherRoomSwiper .swiper-slide .mcontent a {
  background-color: #d8b66d;
  font-size: 12px;
  padding: 4px 12px;
  font-weight: bold;
}

#rooms-img .slidercard .otherRoomSwiper .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: none;
  opacity: 1;
  border: solid 1px #fff;
}

#rooms-img .slidercard .otherRoomSwiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  border: solid 1px #fff;
  background-color: #fff;
}

#roomsetting {
  padding: 20px;
}

#roomsetting h5 {
  font-family: "Roboto";
  font-weight: 500;
  color: #2a2a2a;
  margin-bottom: 15px;
  margin-top: 15px;
  border: 2px solid #2a2a2a;
  display: inline-block;
  padding: 3px 15px !important;
}

#roomsetting .mcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  padding-left: 15px;
  border: dashed 1px rgba(128, 128, 128, 0.253);
}

#roomsetting .mcard .icon {
  border-radius: 50%;
  border: solid 1px rgba(128, 128, 128, 0.158);
  padding: 14px;
}

#roomsetting .mcard .icon img {
  min-width: 50px;
  height: 50px;
}

#roomsetting .mcard p {
  font-family: "Roboto";
  font-weight: 300;
  color: #818285;
  font-size: 18px;
  margin-left: 10px;
}

#footer {
  background-color: #1e1e1e;
  padding-top: 30px;
}

#footer h5 {
  font: normal bold 16px / 26px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
  color: #ffffff;
  margin-bottom: 20px;
}

#footer ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

#footer ol li img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

#footer ol li p {
  font: normal 14px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  padding-left: 20px;
}

#footer ol li span {
  font: normal 14px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  color: #85868c;
  line-height: 1.6;
}

#footer ol li .plink {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#footer ol li .plink:hover {
  color: #d8b66d;
}

#footer ol li .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 6px;
}

#footer ol li .title h6 {
  font: normal 15px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  padding-left: 6px;
}

#footer ol li .title i {
  font: normal 15px "Roboto", Helvetica, Arial, Verdana, sans-serif;
}

#footer .aciklama {
  font: normal 14px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  color: #85868c;
  line-height: 1.6;
  padding-top: 10px;
  text-align: center;
}

#footer .logo {
  width: 75%;
}

@media (max-width: 768px) {
  #footer .logo {
    width: 50%;
  }
}

#footer .footer-text {
  background-color: #000000;
  text-align: center;
  padding: 16px 0;
  font: normal 12px "Roboto", Helvetica, Arial, Verdana, sans-serif;
}
/*# sourceMappingURL=style.css.map */